.custom-table-header .ant-table-thead > tr > th {
  background: #e3f0ff !important;
  color: #1e293b !important;
}

.custom-table-header .ant-table-thead > tr > th {
  font-weight: 600;
  font-size: 16px;
}
